<!-- TOP RATED BOOKS -->
<mat-toolbar>My Top Rated Books</mat-toolbar>
<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let book of favouriteBooks">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h4>{{book.title}}</h4>
        </mat-card-title>
      </mat-card-header>
      <img [src]="book.imageUrl" [alt]="book.title" mat-card-image>	
      <mat-card-actions>
          <button mat-raised-button class="detailsButton" [routerLink]="['/book/'+book.$key]">
             <i class="material-icons">visibility</i> Book Details
            </button>
          <button mat-raised-button class="editButton"  [routerLink]="['/edit-book/'+book.$key]">
             <i class="material-icons">mode_edit</i> Edit Book
            </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<!-- UNREAD BOOKS -->
<mat-toolbar>Unread Books</mat-toolbar>

<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let book of unreadBooks">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h4>{{book.title}}</h4>
        </mat-card-title>
      </mat-card-header>
      <img [src]="book.imageUrl" [alt]="book.title" mat-card-image>	
      <mat-card-actions>
          <button mat-raised-button class="detailsButton" [routerLink]="['/book/'+book.$key]">
             <i class="material-icons">visibility</i> Book Details
            </button>
          <button mat-raised-button class="editButton"  [routerLink]="['/edit-book/'+book.$key]">
             <i class="material-icons">mode_edit</i> Edit Book
            </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>